*{
	margin:0;
	padding: 0;
}

.hieuung {
    margin-top: 20px;
}

.ndmotkhoi {
    padding: 9px 16px;
    border: 1px solid #a09494;
    background: #f3e6cf;
    color: #353535;
    font-size: 14px;
}

.motkhoi {
    width: 330px;
    margin: auto;
    /* margin-top: 20px; */
}

.motkhoi h3 {
    background: #7abddc;
    color: #f7f7f7;
    padding: 7px 16px;
}

.motkhoi h3:hover {
    cursor: pointer;
    background: #544f4f;
}

.container {
    text-align: center;
}
h3.doimau{
    background: red ;
}
body {
    background: #d8cdcd;
}